:host
{
    background-color: #192b34;
}
#sve
{
    text-align: center;
    margin-top: 15%;
}
#glavni
{
    width: 80%;
    margin-left: 10%;
    margin-top: 25%;
}

#vratiSe
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 30%;
}
#Email
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 30%;
}
#Lozinka
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 5%;
}
h1
{
    font-weight: bold;
    font-style: "poppins";

}
#dugmic
{
    text-align: center;
    
    width: 80%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 10%;
  
    
}
.item
{
    --background:#D9d9d9;
    color: black;
    font-weight: bold;
    border-radius: 1px 1px 1px 1px;
}
