<div id="sve">
  
  <div id="naslov">
    <h1>Privatnost</h1>
  </div>
  <div id="glavni">

    <ion-list>
      <ion-item >
        <ion-label >Email: </ion-label>
        <ion-input readonly placeholder="faris.siocic@edu.fit.ba"></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-label>Lozinka:</ion-label>
        <ion-input readonly placeholder="********"></ion-input>
      </ion-item>
    
    </ion-list>
  </div>
  <div id="dugmic">

    
    <ion-button expand="block" id="Email">Promjeni E-mail</ion-button>
    <ion-button expand="block" id="Lozinka">Promjeni lozinku</ion-button>
    <ion-button expand="block" id="vratiSe" [routerLink]="['/KorisnickiNalog']">Nazad</ion-button>


  </div>  

</div>
