:host
{
    background-color: #192b34;
}
#sve
{
    text-align: center;
    margin-top: 15%;
}
#glavni
{
    width: 80%;
    margin-left: 10%;
    margin-top: 25%;
}

#vratiSe
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 30%;
}

#dugmic
{
    text-align: center;
    margin-top: 2%;
    width: 80%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 10%;
  
    
}
.item
{
    --background:#D9d9d9;
    color: black;
    font-weight: bold;
    border-radius: 1px 1px 1px 1px;
}
#gornji
{
  
  top: 0; 
  width: 100%; 
  justify-content: space-between;
  float: right;
  position: fixed;
}
#net
{
   position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#wifi
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#bat
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#vre
{
  position: relative;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}

