<div id="sve">

  <div id="slika">
    <img src="/assets/icon/succes.png" width="60%" height="60%" alt="" srcset="">
    <div id="gornji">
      <ion-icon id="vre"  name="time"></ion-icon>
      <ion-icon id="bat" name="battery-half"></ion-icon>
      <ion-icon id="net" name="cellular"></ion-icon>
      <ion-icon id="wifi" name="wifi"></ion-icon>
    
    </div>
  </div>
  <h1>Registracija uspjesna!</h1>

  <div id="dugmic">
      
      
    <ion-button id="vratiSe" expand="block" [routerLink]="['/login']">Nastavi na login</ion-button>
 
    
  </div>
  <div id="donji">
  </div>

</div>
