<div id="sve">
  <div id="gornji">
    <ion-icon id="vre"  name="time"></ion-icon>
    <ion-icon id="bat" name="battery-half"></ion-icon>
    <ion-icon id="net" name="cellular"></ion-icon>
    <ion-icon id="wifi" name="wifi"></ion-icon>
  
  </div>
  <div id="glavni">
    <h1>Korisnicki racun</h1>

    <div id="dugmic">

      <ion-button expand="block" id="LicniPodaci" [routerLink]="['/LicniPodaci']">Licni podaci</ion-button>
      <ion-button expand="block" id="Privatnost" [routerLink]="['/Privatnost']">Privatnost</ion-button>
      <ion-button expand="block" id="Odjava" [routerLink]="['/login']">Odjava</ion-button>
      <ion-button expand="block" id="Nazad" [routerLink]="['/glavnaStranica']">Nazad</ion-button>
      

    </div>  


  </div>

  

</div>