#sve
{
    background-color: #192B34;
    width: 100%;
    height: 100%;
}
#glavni
{
    text-align:  center;
    margin-top: 10%;

   
}
#zakaziTermin
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    margin-top: 5%;
}
#prethodniTermini
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 5%;
}
#pregledajNalaz
{
    --background:#D9d9d9;
    color: #192B34;
     margin-top: 5%;
    font-weight: bold;
    font-family: "poppins";
}
#dugmic
{
    text-align: center;
    margin-top: 17%;
    width: 70%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 15%;
  
}
#korisnik
{
    margin-top: 90%;
    margin-left: 90%;
}
h1
{
    font-weight: bold;
    font-family: "poppins";
    padding-top: 10%;
    
    
}

#Odjava
{
    --background:#D9d9d9;
    color: #192B34;
     
    font-weight: bold;
    font-family: "poppins";
    margin-top: 55%;
}
#LicniPodaci
{
    --background:#D9d9d9;
    color: #192B34;
     margin-top: 5%;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 15%;
}
#Privatnost
{
    --background:#D9d9d9;
    color: #192B34;
     margin-top: 5%;
    font-weight: bold;
    font-family: "poppins";
  
}
#Nazad
{
    --background:#D9d9d9;
    color: #192B34;
     margin-top: 5%;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 15%;
}
