<div id="sve">
  <div id="glavni">
    <h1>Dobro dosli</h1>
  
    <div id="dugmic">

      <ion-button expand="block" id="zakaziTermin" [routerLink]="['/zakaziTermin']">Zakazi termin</ion-button>
      <ion-button expand="block" id="prethodniTermini" [routerLink]="['/glavnaStranica']">Prethodni termini</ion-button>
      <ion-button expand="block" id="pregledajNalaz" [routerLink]="['/glavnaStranica']">Pregledaj nalaz</ion-button>


    </div>  


  </div>
  <div id=korisnik>
    <ion-icon name="person"></ion-icon>

  </div>
</div>