
:host
{
    background-color: #192b34;
}

#sve{
    width: 100%;
    height: 100%;
}

#slika
{
    margin-top: 0%;
    
}
#login
{
    margin-top: 0%;
    margin-left: 15%;
    width: 70%;
    background-color: #192b34;
    
}
#zaboraviliLozinku
{
    text-align: right;
    margin-left: 25%;
}
#nesto
{
    border-bottom: 1px solid white;
   // display: flex;
    margin-top: 0%;
    margin-left: 0%;
    --background:#192B34;
    color: white;
    font-weight: bold;
  
  
}
#greska
{
    background-color: #192b34;
   color:var(--ion-color-danger);
   text-align: center;
  
}
#lista
{
    background-color: #192b34;
 

}
#registracija
{
    text-align: center;
    ion-button{
        font-size: 12px;
        color: #d9d9d9;
    }
    margin-top: 0%;
    
}
#pomjeri
{
    padding-left: 1%;
}
#div
{
    padding-left: 5%;
   
}
/*.item
{
    background:#192B34;
    
}*/
#dugmic
{
    text-align: center;
    margin-top: 0%;
    width: 70%;
    margin-left: 15%;
    
}
#prijava
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
}
#vratiSe
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    margin-top: 5%;
    font-family: "poppins";
}
.zapamti
{
    padding-top: 20%;
    font-family: 'poppins';
    background-color: green;
}
label {
    color: gray;
    padding-left: 1%;
    font-size: .875rem;
  }