
<div id=sve>
    
    <div id="slika">
     <img src="/assets/icon/slika.PNG" alt="">
    
    </div>
    
    <div id="login">

        <ion-item id="nesto">
            <ion-icon name="person"></ion-icon>
            <div id="div">

                <ion-input placeholder="Unesite Vas broj kartice"></ion-input>

            </div>

        </ion-item>
     
       <ion-item  id="nesto">

           <ion-icon name="key"></ion-icon>
           <div id="div">
               
               <ion-input placeholder="Unesite Vasu lozinku"></ion-input>
            </div>

       </ion-item>
            
       
   
    
    </div>
<div id="dugmic">

    <ion-button expand="block" id="prijava" [routerLink]="['/glavnaStranica']">Prijavi se</ion-button>
    <ion-button expand="block" id="vratiSe" [routerLink]="['/home']">Vrati se</ion-button>

</div>


</div>