
<div id=sve>
    
    <div id="slika">
     <img src="/assets/icon/slika.PNG" alt="">
    
    </div>
    
    <div id="login">

     <!--   <ion-item id="nesto">
            <ion-icon name="person"></ion-icon>
            <div id="div">

                <ion-input placeholder="Unesite Vas broj kartice"></ion-input>

            </div>

        </ion-item>
     
       <ion-item  id="nesto">

           <ion-icon name="key"></ion-icon>
           <div id="div">
               
               <ion-input placeholder="Unesite Vasu lozinku" type="password"></ion-input>
            </div>

       </ion-item>
    -->
      
         <form [formGroup]="loginForm" (ngsubmit)="submit()" id="formica">
           <ion-list id="lista">
            <ion-item id="nesto">
                <ion-icon name="person"></ion-icon>
                <div id="div">
                   <ion-input formControlName="brKartice" placeholder="Unesite Vas broj kartice"></ion-input>
                </div>
    
            </ion-item>
          <div *ngFor="let error of errorMessages.brKartice" id="greska">
                <ng-container  *ngIf="brKartice?.hasError(error.type) && (brKartice?.dirty || brKartice?.touched)">
                   <small id="greska">{{error.message}}</small>
                </ng-container>

            </div>
            <ion-item  id="nesto">

                <ion-icon name="key"></ion-icon>
                <div id="div">
                    
                    <ion-input formControlName="lozinka" placeholder="Unesite Vasu lozinku" [type]="showPassword?'text':'password'"></ion-input>
                 </div>
                 <ion-icon class="show-option" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
     
            </ion-item>
             <div *ngFor="let error of errorMessages.lozinka" id="greska">
                <ng-container *ngIf="lozinka!.hasError(error.type) && (lozinka!.dirty || lozinka!.touched)">
                   <small id="greska">{{error.message}}</small>
                </ng-container>

            </div>
         

           </ion-list>

         </form>

     
       
       
    </div>
    
    
    <div id="dugmic">
        
        <ion-button expand="block" id="prijava" [disabled]="loginForm.invalid" (click)="prijava()">Prijavi se</ion-button>
        <ion-button expand="block" id="vratiSe" [routerLink]="['/home']">Nazad</ion-button>
        
    </div>
    
    <div id="registracija">
       <ion-button fill="clear">Nemate korisnicki nalog ? <a [routerLink]="['/registracija']" id="pomjeri"> Registruj se !</a></ion-button>
    </div>

</div>