:host
{
  background-color: #192B34;
}
#slika
{
    margin-top: 2%;
    margin-left: 25%;
    
}
#login
{
    margin-top: 2%;
    margin-left: 15%;
    width: 70%;
}
#nesto
{
    border-bottom: 1px solid white;
    //display: flex;
    margin-top: 2%;
}
#dugmic
{
    text-align: center;
    margin-top: 3%;
    width: 70%;
    margin-left: 15%;
    
}
#prijava
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
}
#vratiSe
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    margin-top: 2%;
    font-family: "poppins";
}
