#sve
{
    background-color: #192B34;
    width: 100%;
    height: 100%;

}

h1
{
    text-align: center;
    font-weight: bold;
    font-family: 'poppins';
    padding-top: 40%;
    padding-bottom: 20;
}
#dugmic
{
  
 text-align: center;
 margin-left: 15%;
 width: 70%;
 padding-top: 10%;
 
 
}
#DetaljniZahtjev
{
  --background:#D9d9d9;
  color: #192B34;
  font-family: "poppins";
  margin-top: 20%;
  font-weight: bold; 
}
#vratiSe
{
  --background:#D9d9d9;
  color: #192B34;
  margin-top: 10%;
  font-weight: bold; 
  font-family: "poppins";
}
#donji
{
    margin-top: 22.4%;
    
    
}
#slika
{
    margin-left: 30%;
    margin-top: 30%;


}
