<div id="sve">
  <div id="gornji">
    <ion-icon id="vre"  name="time"></ion-icon>
    <ion-icon id="bat" name="battery-half"></ion-icon>
    <ion-icon id="net" name="cellular"></ion-icon>
    <ion-icon id="wifi" name="wifi"></ion-icon>
  
  </div>
  <div id="slika">
    <img src="/assets/icon/succes.png" width="60%" height="60%" alt="" srcset="">

  </div>
  <h1>Termin uspjesno zakazan</h1>

  <div id="dugmic">
      
      
    <ion-button id="DetaljniZahtjev" expand="block" [routerLink]="['/DetaljniZahtjev']">Detaljni zahtjev</ion-button>
    <ion-button id="vratiSe" expand="block" [routerLink]="['/glavnaStranica']">Vrati se</ion-button>
 
    
  </div>
 

</div>
