:host
{
    background-color: #192b34;
}
#sve
{
    text-align: center;
    //overflow: scroll;
}
#naslov
{
    margin-top: 10%;
    
}
#grupa
{
    background-color: #d9d9d9;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
#nesto
{
    color: black;
    font-weight: bold;
    
   
}
/*ion-badge{
    position: absolute; 
    font-size: 8pt;
    right: -16px;
    top: -3px; 
    background-color: #192b34;
    color: white;
}*/
#button
{
    color: black;
    font-weight: bold;
    margin-right: 5%;
    //position: relative;
}
#donji
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}




