:host
{
    background-color: #192B34;
}

#glavni
{
    text-align:  center;
    margin-top: 2%;
}
#zakaziTermin
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
}
#prethodniTermini
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
}

#dugmic
{
    text-align: center;
    margin-top: 2%;
    width: 70%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 15%;
  
}

h1
{
    font-weight: bold;
    font-family: "poppins";
}
#donji
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
