:host
{
    background-color: #192b34;
}
#naslov
{
    text-align: center;   
}
h1
{
    font-style: "poppins";
    font-weight: bold;
    padding-top: 15%;
}
#sve
{
    margin-top: 5%;
}
.item
{
    --background:#D9d9d9;
    color: black;
    font-weight: bold;
}
#glavni
{
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
}
#vratiSe
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 35%;
}

#dugmic
{
    text-align: center;
    margin-top: 2%;
    width: 70%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 15%;
    
}
