:host
{
    background-color: #192b34;
}
#sve
{
  text-align: center;

}
#naslov
{
    margin-top: 15%;
}
textarea
{
    border: none;
    outline: none;
    background-color: white;
    width: 50%;
    color: black;
}
#dugmic
{
    text-align: center;
    margin-top: 3%;
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    
}
#Dodajdokument
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    
   
}
#Sacuvaj
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
}
h1
{
    font-weight: bold;
    font-family: 'poppins';
    
}
#glavni
{
    margin-top: 5%;
    margin-bottom: 5%;
}
#glavni
{
    margin-top: 2%;
}
