<div id="sve">
 
  <div id="naslov">
    <h1>Rezultati analize</h1>
  </div>

  <div id="glavni">
     <textarea readonly name="" id="" cols="40" rows="15"></textarea>
     

  </div>

  <div id="dugmic">

    <ion-button expand="block" id="Dodajdokument" (click)="dodajDokument()">Dodaj dokument<ion-icon name="document-outline"></ion-icon></ion-button>
    <ion-button expand="block" id="Sacuvaj" (click)="sacuvajDokument()">Sacuvaj<ion-icon name="save"></ion-icon></ion-button>
  
  </div>
  
 
</div>