:host
{
    background-color: #192b34;
}
#sve
{
    text-align: center;
}
#naslov
{
    margin-top: 5%;
}
#glavni
{
    margin-top: 5%;
}
#zahtjev
{
    background-color: white;
    color: black;
    width: 50%;
    margin-top: 5%;
    text-align:justify;
}
#prihvati
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
    width: 40%;
}
#odbij
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
    width: 40%;
}

#dugmic
{
    text-align: center;
    margin-top: 2%;
    width: 50%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
  
}
#gornji
{
  
  top: 0; 
  width: 100%; 
  justify-content: space-between;
  float: right;
  position: fixed;
}
#net
{
   position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#wifi
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#bat
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#vre
{
  position: relative;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}
