:host
{
  background-color: #192B34;

}
#dugmic
{
  margin-top:40%;
 text-align: center;
 margin-left: 25%;
 width: 50%;
 
}
#prijava
{
  --background:#D9d9d9;
  color: #192B34;
  font-family: "poppins";
  margin-top: 2%;
  font-weight: bold; 
}
#registacija
{
  --background:#D9d9d9;
  color: #192B34;
  margin-top: 5%;
  font-weight: bold; 
  font-family: "poppins";
}
#onama
{
  --background:#D9d9d9;
  color: #192B34;
  margin-top: 5%;
  font-weight: bold; 
  font-family: "poppins";
}
#slika
{
  margin-top: 20%;
}