<div id="sve">
  
  <div id="glavni">
    <h1>Dobro dosli</h1>
  
    <div id="slika">
      <img src="/assets/doktor.png" alt="">
    </div>
    
    <div id="dugmic">

      <ion-button expand="block" id="zakaziTermin" [routerLink]="['/zakaziTermin']">Zakazi termin</ion-button>
      <ion-button expand="block" id="prethodniTermini" [routerLink]="['/PrethodniTermini']">Prethodni termini</ion-button>
      <ion-button expand="block" id="pregledajNalaz" [routerLink]="['/Iskaznica']">Iskaznica davaoca krvi</ion-button>
      <br>
      

    </div>  


  </div>

  <div id="donji">

    <ion-toolbar>
      
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button>
            <ion-icon name="home"[routerLink]="['/glavnaStranica']"></ion-icon>
            <ion-label >Pocetna</ion-label>
          </ion-tab-button>
      
          <ion-tab-button>
            <ion-icon name="settings" [routerLink]="['/Postavke']"></ion-icon>
            <ion-label>Postavke</ion-label>
          </ion-tab-button>
      
          <ion-tab-button>
            <ion-icon name="person"[routerLink]="['/KorisnickiNalog']"></ion-icon>
            <ion-label>Nalog</ion-label>
          </ion-tab-button>
      
         
        </ion-tab-bar>
      </ion-tabs>
  
    </ion-toolbar>

  </div>

</div>