:host
{
  background-color: #192B34;
}
#slika
{
  margin-left: 25%;
  margin-top: 5%;
}
#dugmic
{
  margin-top:5%;
 text-align: center;
 margin-left: 25%;
 width: 50%;
 
}
#prijava
{
  --background:#D9d9d9;
  color: #192B34;
  font-family: "poppins";
  margin-top: 2%;
  font-weight: bold; 
}
#gornji
{
  
  top: 0; 
  width: 100%; 
  justify-content: space-between;
  float: right;
  position: fixed;
}
#net
{
   position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#wifi
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#bat
{
  position: relative;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}
#vre
{
  position: relative;
  float: left;
  margin-left: 1%;
  margin-top: 1%;
}