:host
{
    background-color: #192b34;
}
#licniPodaci
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
}
#naslov
{
  text-align: center;
  margin-top: 10%;
}

#Odjava
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 2%;
}
#Vratise
{
    --background:#D9d9d9;
    color: #192B34;
    font-weight: bold;
    font-family: "poppins";
    margin-top: 15%;
}

#dugmic
{
    text-align: center;
    margin-top: 10%;
    width: 80%;
    font-weight: bold;
    font-family: "poppins";
    margin-left: 10%;
  
}
