
<div id="sve">
  <ion-card id="tekst">
    <ion-card-header>
      <ion-card-title>O aplikaciji</ion-card-title>
    </ion-card-header>
  
    <ion-card-content id="glavni">
      Aplikacija je namjenjena za odjel transfuziologije.
      Pacijenti putem ove aplikacije mogu da rezervisu termin za analizu krvi. 
      Isto tako putem aplikacije mogu da dobiju rezultate analize krvi.
      
    </ion-card-content>
    <ion-card-content id="glavni">
      Aplikaciju jos koristi i medicinsko osoblje. Medicinsko osoblje moze da odobri ili da odbije
    zahtjev pacijenta za analizu krvi. Medicinsko
    osoblje putem aplikacije pacijentu dostavlje
    rezultate analize krvi
      
    </ion-card-content>
  </ion-card>
  
  <div id="dugmic">

    <ion-button expand="block" id="vratiSe" [routerLink]="['/home']">Vrati se</ion-button>

</div>
</div>