<div id="sve">

  <div id="gornji">
    <ion-icon id="vre"  name="time"></ion-icon>
    <ion-icon id="bat" name="battery-half"></ion-icon>
    <ion-icon id="net" name="cellular"></ion-icon>
    <ion-icon id="wifi" name="wifi"></ion-icon>
  
  </div>
  
  <div id="login">
    <div id="nesto">
     <ion-icon name="person"></ion-icon>
     <ion-input placeholder="Ime"></ion-input>
    </div>
    <div id="nesto">
      <ion-icon name="person"></ion-icon>
      <ion-input placeholder="Prezime"></ion-input>
     </div>
     
     <div id="nesto">
      <ion-icon name="mail"></ion-icon>
      <ion-input placeholder="Email"></ion-input>
     </div>

     <div id="nesto">
      <ion-icon name="card"></ion-icon>
      <ion-input placeholder="Broj kartice"></ion-input>
     </div>


    <div id="nesto">
       
     <ion-icon name="key"></ion-icon>
     <ion-input placeholder="Lozinka"></ion-input>
    
 </div>

 <div id="dugmic">

  <ion-button expand="block" id="prijava"[routerLink]="['/UspjesnoRegistrovano']">Registracija</ion-button>
  <ion-button expand="block" id="vratiSe" [routerLink]="['/home']">Vrati se</ion-button>

</div>

</div>