<div id="sve">
  
  <div id="naslov">
     <h1>Registracija</h1>
  </div>
  
  
  <div id="login">

    <ion-item id="nesto">
      <ion-icon name="person"></ion-icon>
      <div  id="div">
        <ion-input placeholder="Unesite Vase ime"></ion-input>

      </div>
   
    </ion-item>


    <ion-item id="nesto">
      
      <ion-icon name="person"></ion-icon>
      <div id="div">
      <ion-input placeholder="Unesite Vase Prezime"></ion-input>
      </div>
  
   </ion-item>
   <ion-item id="nesto">
 
      <ion-icon name="mail"></ion-icon>
      <div id="div">
        <ion-input placeholder="Unesite Vase Email"></ion-input>

      </div>
     
    </ion-item>

    <ion-item id="nesto">

      <ion-icon name="card"></ion-icon>
      <div id="div">
        <ion-input placeholder="Unesite vas broj kartice"></ion-input>

      </div>
 
    </ion-item>

    <ion-item id="nesto">
   
       
     <ion-icon name="key"></ion-icon>
     <div id="div">
       <ion-input placeholder="Unesite Vasu lozinku"></ion-input>

     </div>
    </ion-item>
 

 <div id="dugmic">

  <ion-button expand="block" id="prijava"[routerLink]="['/UspjesnoRegistrovano']">Registracija</ion-button>
  <ion-button expand="block" id="vratiSe" [routerLink]="['/home']">Vrati se</ion-button>

</div>

</div>